body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background: #ffe4e1;
}

.photo-profil {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #f8c8cd;
    display: block;
    margin: 0 auto;
}

.conteneur {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.colonne-gauche,
.colonne-droite {
    flex: 1;
    min-width: 300px;
    padding: 20px;
}

section {
    background-color: #fff;
    border: 1px solid #f8c8cd;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ffe4e1;
    color: #333;
}

footer a {
    color: #333;
    text-decoration: none;
}

i {
    margin-right: 8px;
    color: #c71585;
}

footer a i {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .conteneur {
        flex-direction: column;
    }
}

.date {
    color: gray;
}

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}